.table {
	margin: 0 auto;
	border-collapse: collapse;

	.highlight {
		background-color: white;
	}

	td {
		background-color: black;
		border: 1px solid white;
	}

	&--highlight {
		.highlight {
			background-color: black;
		}

		td {
			background-color: white;
			border: 1px solid black;
		}
	}
}
